.app-details .App-header {
    margin-bottom: 100px;
    min-height: 20vh;
}
.breadcrumbs {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;

}
.detailDescription {
    margin: 0 auto;
    max-width: 740px;
    padding-top: 35px;
    width: 100%;
}