
.carousel-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

.carousel-viewport {
    border: 1px solid black;
    margin: 0 auto;
    max-width: 1197px;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    width: 100%;
}

.carousel-viewport::-webkit-scrollbar {
    display: none;
}
.carousel-nav {
    cursor: pointer;
    position: absolute;
    width: 35px;
    padding: 0;
    outline: none;
    opacity: .8;
    font-size: 60px;
    transition: opacity .2s ease-in-out;
    z-index: 3;
}
.carousel-nav:hover {
    
}
.carousel-nav:focus {
    border: 1px solid blue;
}
.carousel-left-nav {
    left: 0;
    margin-top: 15%;
    border-right: 1px solid rgb(117, 61, 204);
}
  
.carousel-right-nav {
    margin-top: 15%;
    right: 0;
    border-left: 1px solid rgb(117, 61, 204);
}
  
